{% extends 'base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block css %}
{% endblock %}

{% block title %} | Home{% endblock %}

{% block content %}
    <img id="hero-image" src="{{ MEDIA_URL }}/jonathan-borba-unsplash-hero-image.jpg" alt="Hero image">

    <div class="welcome-message">
        <h1>Welcome to SnapShot</h1>
        <a href="{% url 'products' %}" class="btn-black">Shop now</a>
    </div>

{% endblock %}

{% block js %}
{% endblock %}
