{% extends 'base.html' %}
{% load static %}
    
{% block css %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block title %} | Home{% endblock %}

{% block content %}
    <img id="hero-image" src="{{ MEDIA_URL }}jonathan-borba-unsplash-hero-image.jpg" alt="Hero image - blurred background containing art supplies">

    <div class="welcome-message">
        <h1>Welcome to SnapShot</h1>
        <a href="{% url 'products' %}" class="off-center btn-black">Shop now</a>
    </div>

    <div id="testimonies">
        <h2 class="center">Testimonies</h2>
        {% if user.is_authenticated %}
        <div><a href="{% url 'testimony' %}">Have something to say about SnapShot?</a></div>
        {% endif %}
        <div id="content">
            {% for message in testimonies %}
                <h3 class="center">{{ message.user }}</h3>
                <p class="center">{{ message.body }}</p>
                <hr>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block js %}

    <script src="{% static 'js/home.js' %}"></script>

{% endblock %}
