{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
    <img id="hero-image" src="{{ MEDIA_URL }}jonathan-borba-unsplash-hero-image.jpg" alt="Hero image - blurred background containing art supplies">
    
    <h1 class="center">Publish a testimony.</h1>
    <div class="form-container">
        <form action="{% url 'testimony' %}" method="POST">
            {% csrf_token %}
            {{ form.errors }}
            {{ form }}
            <button class="btn-black" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}