{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/items.css' %}">

{% endblock %}

{% block title %} | Products{% endblock %}

{% block content %}

    {% for product in products %}
        <div class="item-p">
            <div class="item-img">
                <img src="" alt="">
            </div>
            <div class="item-info">
                <h3 class="item-name">{{ product.name }}</h3>
                <h4 class="item-price">£{{ product.price }}</h4>
                <div class="see-more"><a href="#">See more</a></div>
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block js %}
{% endblock %}