.basket-body {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
}

.item-list {
    flex: 2;
    height: auto;
    padding: 2em;
}

.item-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    height: auto;
    align-items: center;
}

.item-row * {
    text-align: center;
}

.item-image, .total-price, .item-quantity {
    flex: 1;
}

.item-image img {
    width: 100%;
    max-width: 80px;
}

.item-name,
.empty-basket {
    flex: 2;
}

.empty-basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin: 0 2em;
}

.quantity-change {
    display: flex;
    margin: .5em;
    justify-content: center;
}

.receipt {
    min-height: 100%;
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
}

.receipt-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    flex-direction: column;
    gap: 1em;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

@media  screen and (max-width: 720px) {
    .basket-body {
        margin: 0;
    }

    .item-row {
        flex-direction: column;
        margin: 1em 0;
    }

    .receipt {
        margin-top: 2em;
    }
}