.basket-body {
    display: flex;
    margin-left: 1em;
}

.item-list {
    flex: 2;
    height: auto;
    padding: 2em;
}

.grid-item-row {
    display: flex;
    width: 100%;
    grid-auto-flow: column;
    height: auto;
    align-items: center;
}

.grid-item-row * {
    text-align: center;
}

.item-image, .total-price, .item-quantity {
    flex: 1;
}

.item-image img {
    max-width: 100%;
}

.item-name {
    flex: 2;
}

.btn-black {
    padding: .5em 1em;
}

.quantity-change {
    display: flex;
    margin: .5em;
    justify-content: center;
}

.receipt {
    height: 100%;
    padding: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, .5);
}

.receipt-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 90%;
    flex-direction: column;
    gap: 1em;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}