#loading-overloay {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

h2, h3 {
    padding: 1em;
}

.order-summary {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media screen and (max-width: 721px) {
    .order-summary {
        flex-direction: column;
    }

    .receipt {
        margin-top: 50px;
    }
}