.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 2em;
    padding: 2em 0;
    background-color: var(--clr-background);
}

#sort-selector-container {
    background-color: var(--clr-background);
    width: 100%;
    display: flex;
    justify-content: center;
}

#sort-selector {
    padding: .5em 4em .5em .25em;
    margin: 1em;
    border-radius: 50px;
}