.items-body-img {
    height: 100%;
    width: 100%;
    background-color: #c0c0c0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(8px);
    z-index: -1;
    position: absolute;
    top: -10px;
}

.items-main {
    filter: unset;
    margin: 4em;
    padding-bottom: 4em;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-between;
}

.item-images {
    background-color: var(--clr-background);
    display: flex;
    align-items: center;
}

.main-img {
    max-height: 400px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--clr-background);

}

.main-img img {
    width: 70%;
}

.item-information {
    min-width: 200px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--clr-background);
    padding: 2em;
}

.item-information p {
    max-width: 75ch;
}

.item-extra-info {
    width: 100%;
    height: auto;
    text-align: left;
    background-color: var(--clr-background);
    justify-content: center;
    color: var(--clr-secondary);
}

.item-extra-info h2 {
    padding: 1em 0;
}

.item-extra-info .review * {
    margin: 0;
    padding: .5em 1em;
    max-width: 100%;
}

.item-extra-info .review p {
    margin-bottom: 1em;
}

.item-description {
    max-width: 100%;
}

.item-description p {
    max-width: 100%;
    hyphens: auto;
    padding: .5em 0;
}

.form {
    align-items: center;
}

.quantity-change {
    display: flex;
    flex-wrap: wrap;
    margin: .5em;
    justify-content: center;
}

.add-to-basket {
    display: flex;
    justify-content: space-evenly;
    padding: .5em 0;
    gap: 1em;
}

.keep-shopping {
    padding: .5em 0;
}

@media screen and (max-width: 1023px) {
    .items-main {
        justify-content: center;
    }
}

@media screen and (max-width: 924px) {
    .add-to-basket {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    .item-information {
        min-width: 80%;
    }
}

@media screen and (max-width: 511px) {
    .items-main {
        margin-left: 0;
        margin-right: 0;
    }

    .item-information {
        width: 100vw;
    }
}