{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- MailChimp styles -->
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">

    {% block css %}
    {% endblock %}

    <title>SnapShot {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="{% url 'home' %}">SnapShot</a></h1>
        </div>
        <nav class="main-nav">
            <ul>
                <li>
                    <form action="{% url 'products' %}" method="GET">
                        <input class="search" type="search" name="q" id="" placeholder="Search...">
                    </form>
                </li>

                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'add_product' %}">Site management</a></li>
                    {% endif %}
                    <li><a href="{% url 'user_profile' %}">Profile</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}

                <li>
                    <div class="basket">
                        <a href="{% url 'basket' %}">
                            <p>
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <section class="_filters">
        <div class="dropdown">
            <ul>
                <li><a href="{% url 'products' %}?sort=price&direction=asc">By price</a></li>
                <li><a href="{% url 'products' %}?sort=rating&direction=desc">By rating</a></li>
                <li><a href="{% url 'products' %}">All items</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <ul>
                <li><a href="{% url 'products'%}?category=physical">Physical</a></li>
                <li><a href="{% url 'products'%}?category=digital">Digital</a></li>
            </ul>
        </div>
    </section>
        
    <div class="free-delivery">
        <p>Free delivery over £{{ free_delivery_threshold }}</p>
    </div>
    {% block content %}
    {% endblock %}

    <div id="back-to-top">
        <button class="btn-black">Back to top</button>
    </div>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    <footer>
        <div class="signup-form">
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="https://hotmail.us18.list-manage.com/subscribe/post?u=560646b72e371f7afa1bb833a&amp;id=4f6e552217" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <h2>Subscribe!</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
            </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
                <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_560646b72e371f7afa1bb833a_4f6e552217" tabindex="-1" value=""></div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            <p class="brandingLogo"><a href="http://eepurl.com/h6Qz3T" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->
        </div>
    </footer>

    {% block js %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

</body>
</html>