{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block css %}
    {% endblock %}

    <title>SnapShot {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1><a href="{% url 'home' %}">SnapShot</a></h1>
        </div>
        <nav class="main-nav">
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a href="#">Site management</a></li>
                    {% endif %}
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Register</a></li>
                {% endif %}

                <li>
                    <form action="{% url 'products' %}" method="GET">
                        <input type="search" name="q" id="" placeholder="Search...">
                    </form>
                </li>

                <li>
                    <div class="basket">
                        <a href="{% url 'basket' %}">
                            <p>
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="filter dropdown">
            <p>Filter</p>
            <ul>
                <li><a href="{% url 'products' %}?sort=price&direction=asc">By price</a></li>
                <li><a href="{% url 'products' %}?sort=rating&direction=desc">By rating</a></li>
                <li><a href="{% url 'products' %}">All items</a></li>
            </ul>
        </div>
        <div class="categories dropdown">
            <p>Categories</p>
            <ul>
                <li><a href="{% url 'products'%}?category=physical">Physical</a></li>
                <li><a href="{% url 'products'%}?category=digital">Digital</a></li>
            </ul>
        </div>
        <div class="offers dropdown">
            <p>Offers</p>
            <ul>
                <li>New</li>
                <li>Sale</li>
            </ul>
        </div>
    </header>
    <div class="free-delivery">
        <p>Free delivery over £{{ free_delivery_threshold }}</p>
    </div>
    {% block content %}
    {% endblock %}

    <div id="back-to-top">
        <button>Back to top</button>
    </div>

    {% block js %}
    {% endblock %}

    <script src="{% static 'js/base.js' %}"></script>

</body>
</html>