{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/basket.css' %}">

{% endblock %}

{% block title %} | Success{% endblock %}

{% block content %}
    <h2>Order Success! Thank you for shopping with us</h2>
    <h3>A receipt has been sent to {{ order.email }}</h3>
    
    {% if from_profile %}
        <button class="btn"><a href="{% url 'order_history' %}">Back to order history</a></button>
    {% else %}
        <button class="btn"><a href="{% url 'products' %}">Shop some more?</a></button>
    {% endif %}
{% endblock %}


{% block js %}
{% endblock %}
