{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/basket.css' %}">

{% endblock %}

{% block title %} | Success{% endblock %}

{% block content %}
    <h2 class="center wrap">Order Success! Thank you for shopping with us.</h2>
    <h3 class="center wrap">A receipt has been sent to {{ order.email }}</h3>
    
    <div class="call-to-action">
        {% if from_profile %}
            <a class="btn-black" href="{% url 'order_history' %}">Back to order history</a>
        {% else %}
            <a class="btn-black" href="{% url 'products' %}">Shop some more?</a>
        {% endif %}
    </div>

{% endblock %}


{% block js %}
{% endblock %}
