{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/profiles.css' %}">

{% endblock %}

{% block title %} | Profile{% endblock %}

{% block content %}
    <img id="hero-image" src="{{ MEDIA_URL }}jonathan-borba-unsplash-hero-image.jpg" alt="Hero image - blurred background containing art supplies">
    {% if user.is_authenticated %}
    <h1 class="white-text-shadow center">Update your information.</h1>
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-black" type="submit">Update</button>
                <a class="change-password" href="{% url 'account_reset_password' %}">Change password</a>
            </form>
        </div>
        
        <div class="order-history">
            <h2 class="center">Order history</h2>
            {% if orders %}
                {% for order in orders reversed %}
                    <h3 class="center">{{ order.order_no|truncatechars:10 }}</h3>
                    <p>{{ order.date }}</p>
                    <ul>
                        {% for item in order.lineitems.all %}
                            <li class="center"><a href="{% url 'product_detail' item.product.id %}">{{ item.product.name }}</a> {% if item.product.has_size %}: {{ item.product.size }} {% endif %} x {{ item.quantity }}</li>
                        {% endfor %}
                    </ul>

                    <p>£{{ order.grand_total }}</p>
            {% endfor %}
            {% else %}
                <p class="center">Nothing yet...</p>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block js %}
{% endblock %}
