{% extends 'base.html' %}
{% load static %}

{% block css %}
{% endblock %}

{% block title %} | Profile{% endblock %}

{% block content %}
    <img id="hero-image" src="{{ MEDIA_URL }}jonathan-borba-unsplash-hero-image.jpg" alt="Hero image - blurred background containing art supplies">
    {% if user.is_authenticated %}
        <div class="form-container">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn-black" type="submit">Update</button>
                <a href="{% url 'account_reset_password' %}">Change password</a>
            </form>
        </div>
        
        <div class="order-history">
            {% for order in orders %}
                <h3><a href="" title="{{ order.order_no }}">{{ order.order_no|truncatechars:8 }}</a></h3>
                <p>{{ order.date }}</p>
                <ul>
                    {% for item in order.lineitems.all %}
                        <li>{{ item }} {% if item.product.has_size %}: {{ item.product.size }} {% endif %} x {{ item.quantity }}</li>
                    {% endfor %}
                </ul>

                <p>{{ order.grand_total }}</p>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block js %}
{% endblock %}
