{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/basket.css' %}">

{% endblock %}

{% block title %} | Basket{% endblock %}

{% block content %}
    <section class="basket-body">
        {% if basket_items %}
            <div class="item-list">
                {% for item in basket_items %}
                    <div class="grid-item-row">
                        <div class="item-image">
                            <img src="{{ item.product.image.url }}" alt="">
                        </div>
                        <div class="item-name">
                            {{ item.product.name }}{% if item.size %}: {{ item.size }}{% endif %}
                        </div>
                        <div class="item-quantity">
                            <form class="update-form" action="{% url 'update_basket' item.item_id %}" method="POST">
                                {% csrf_token %}
                                <div class="quantity-change">
                                    <div class="decrement" id="decrement"><button class="btn-black btn-black-s">-</button></div>
                                    <input id="quantity" class="btn-black btn-black-s" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    <div class="increment" id="increment"><button class="btn-black btn-black-s">+</button></div>
                                </div>
                                {% if item.product.size %}
                                    <input type="hidden" name="product_size" value="{{ item.size }}">
                                {% endif %}
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                            <a class="update-link"><small>Update</small></a>
                            <a class="remove-item" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}"><small>Remove</small></a>
                        </div>
                        <div class="total-price">
                            {{ item.product.price | calc_subtotal:item.quantity }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        {% else %}
            <p>You haven't added anything yet!</p>
            <button><a href="{% url 'products' %}">Go shopping!</a></button>
        {% endif %}
        
        <div class="receipt">
            <div class="receipt-content">
                <p>Basket: £{{ total|floatformat:2 }}</p>
                <p>Delivery: £{{ delivery|floatformat:2 }}</p>
                <p>Total: £{{ grand_total|floatformat:2 }}</p>
            </div>
            <div class="call-to-action">
                <a class="btn-black" href="{% url 'checkout' %}">Go to checkout</a>
                <a href="{% url 'products' %}">Keep shopping</a>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

    <script src="{% static 'js/product-detail.js'%}"></script>
    <script src="{% static 'js/basket.js'%}"></script>
    <!-- In HTML so CSRF token works -->
    <script>
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var url = `/basket/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>

{% endblock %}
