{% extends 'base.html' %}
{% load static %}

{% block css %}

    <link rel="stylesheet" href="{% static 'css/basket.css' %}">

{% endblock %}

{% block title %} | Basket{% endblock %}

{% block content %}

    <div class="grid-item-row">
        <div class="item-image">

        </div>
        <div class="item-name">

        </div>
        <div class="item-quantity">

        </div>
        <div class="total-price">

        </div>
    </div>
    <div class="receipt"></div>

{% endblock %}

{% block js %}
{% endblock %}
